*.tsx linguist-language=TypeScript
*.ts linguist-language=TypeScript
*.jsx linguist-language=JavaScript
*.js linguist-language=JavaScript
*.module.css linguist-language=TypeScript
*.css linguist-language=TypeScript